* {
    box-sizing: border-box;
}

body, main {
    font-family: Helvetica;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.card-container {
    display: flex;
    grid-template-columns: repeat(3, 8vmin);
    grid-template-rows: repeat(3, 8vmin);
    margin-top: 5vmin;
    gap: 2vmin;

}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

.back-card{
    height: 20vmin;
    width: 15vmin;
    background-color: lightblue;
}

.front-card {
    height: 19vmin;
    width: 15vmin;
    position: absolute;
    background-color: lightblue;
}

.front-card img {
    width: 14vmin;
    height: 19vmin;
  }