* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    background-color: #D1E3F4;
}

h1 {
    margin: 10px;
    padding: 5px;
    font-size: 37px;
}

#objective {
    margin: 15px;
    font-size: 17px;
    color: black;
    word-spacing: 2.5px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    align-content: center;
    row-gap: 18px;
    column-gap: 22px;
    margin: 0px;
    padding: 5px;
}

.card { 
    height: 20.5vmin;
    width: 18.5vmin;
    position: relative;
    border: 3px solid black;
    cursor: pointer;
    box-shadow: 10px 5px 5px black;
  }

.back-card {
    position: absolute;
    height: 19.88vmin;
    width: 17.88vmin;
    background-color: #F4E2D1;
    background-image: url('images/back-card-logo.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.back-card:hover {
    background-color: #998D83;
}

#timer {
    margin: 12px;
    font-size: 25px;
}

#start-btn, #playagain-btn {
    height: 4.5vmin;
    width: 15vmin;
    font-size: 2vmin;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
}