* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica;
    height: 100vh;
    width: 100%;
    text-align: center;
    background-color: #D1E3F4;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    padding: 5px;
    font-size: 30px;
}

#objective {
    margin: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
    word-spacing: 2.5px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    align-content: center;
    row-gap: 15px;
    column-gap: 15px;
    margin: 20px;
}

.card {
    height: 20.5vmin;
    width: 18.5vmin;
    position: relative;
    border: 2.8px solid black;
    cursor: pointer;
  }

.back-card, .front-card {
    position: absolute;
    height: 100%;
    width: 100%;
}

.back-card {
    background-color: #F4E2D1;
    background-image: url('images/back-card-logo.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.back-card:hover {
    background-color: #998D83;
}

/* Hide front of card (holding img element) */
/* WORK TO DO - FIGURE OUT HOW TO SWITCH BETWEEN VISIBLE/HIDDEN WHEN SELECTING CARDS */
.front-card {
    visibility: hidden;
}

#timer {
    margin: 5px;
    font-size: 22px;
}

#start-btn {
    height: 4.5vmin;
    width: 8vmin;
    font-size: 2vmin;
    cursor: pointer;
}

#playagain-btn {
    height: 4vmin;
    width: 15vmin;
    font-size: 2vmin;
    cursor: pointer;
}